*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
}

button,
input {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  color: white;
}

/* navbar */
.header-bar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #05a002;
  color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  }

.nav-bar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c768d;
  color: #242443;
  height: 60px;
}
.sign-in {
  border: none;
  background-color: transparent;
}
.sign-in > img {
  height: 30px;
  width: auto;
  }
  
  .sign-out {
    padding: 5px 10px;
    border-radius: 5px;
    color: #05a002;
    border: 1px solid #1c2c4c;
    background-color: antiquewhite;
    font-weight: 600;
  }
  
  /* welcome page */
  .welcome {
    padding: 30px;
    text-align: center;
    margin-top: 40px;
    color: black;
  }
  
  .welcome h2,
  .welcome p,
  .welcome img {
  margin-bottom: 20px;
  }
  
  /* chat component */
  .messages-wrapper {
    padding: 30px;
    margin-bottom: 60px;
    background-color: grey;
  }
  
  .chat-bubble {
    border-radius: 20px 20px 20px 0;
    padding: 15px;
    background-color: #6e0156;
    color: white;
    width: max-content;
    max-width: calc(100% - 50px);
    box-shadow: -2px 2px 1px 1px black;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .chat-bubble.right {
    margin-left: auto;
    border-radius: 20px 20px 0 20px;
    background-color: #fff;
    color: black;
    box-shadow: -2px 2px 1px 1px #6e0156;
  }
  
  .chat-bubble__left {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #888888;
  }
  
  .user-message {
  word-break: break-all;
  }
  
  .message-time {
  display: block;
  text-align: right;
  }
  
  /* send message */
  .send-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 30px;
  background-color: #6e0156;
  display: flex;
  align-items: center;
  }
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #1c2c4c;
  font-size: 1rem;
}
.send-message > input:placeholder {
  color: #ddd;
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #05a002;
}
.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #242443;
  border: 1px solid #05a002;
  background-color: #05a002;
  font-weight: 600;
}

/* Home Page Components*/
.classBox {
  width: 50%;
  height: 100px;
  margin-top: 20px;
  margin-left: 25%;
  border: 1px #000000;
  border-radius: 10px;
  position: relative;


  font-family: 'Rubik';
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  color: white;

  cursor: pointer;
}

#E493 {
  background-color: #6e0156;
  position: fixed;
}

.homePage {
  margin-top: 110px;
  padding-top: 50px;
}

/* Top Nav */
.topnav-bar {
  height: 50px;
  background-color: #BBBBBB;
  position: fixed;
  width: 100%;
  top: 0;

  margin-top: 60px;
  text-align: center;
  padding-top: 5px;
}

.topnav-bar img {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.topnav-bar button {
  float: right;

  padding: 5px 10px;
  border-radius: 5px;
  color: #05a002;
  border: 1px solid #1c2c4c;
  background-color: antiquewhite;
  font-weight: 600;
}

/* ProfilePage */

.picname {
  top: 30%;
  position: fixed;
  float: left;
  margin-left: 15%;
}

.picname img{
  width: 240px;
  height: 260px;
  padding-left: 5px;
}

#picnamecontents {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
}

.profileFields {
  width: 75%;
  height: 75%;
  left: 35%;
  top: 200px;
  position: relative;
  
  font-family: "Rubik";
  font-size: 35px;

  display: flex;
  flex-direction: column;
  color: black;
}

.profileFields button {
  width: 15%;
  height: 30px;
  margin-top: 20px;
}

.profileInput {
  margin-top: 20px;
}

#nameInput input {
  width: 200px;
  height: 50px;
  border-color: #05a002;
}

#yearInput input {
  width: 200px;
  height: 50px;
  border-color: #05a002;
}

#bioInput input {
  width: 400px;
  height: 100px;
  border-color: #05a002;
}

#skillsInput select {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-color: #05a002;
}

/* Team Finder Page */
.teamFinder {
  margin-top: 110px;
}

.teamFinder h1 {
  color: #0E1C36;
  background-color: #CB429F;
  text-align: center;
  width: 100%;
  position: fixed;
}

.teamFinder h2 {
  color: #0E1C36;
  margin-top: 40px;
  margin-bottom: 20px;
}
.teamFinder #metaBackground {
  background-color: #826C7F;
  height: 60px;
  display: flex;
  align-items: center;
}
.teamFinder #metaData {
  color: #0E1C36;
  font-size: 20px;
  margin-right: 100px;
}

.teamFinder .openSearch {
  border-bottom: 4px solid #826C7F;
  display: flex;
  justify-content: flex-start;
  
}

.openSearch .userName {
  color: #0E1C36;
  font-size: 25px;
}

.openSearch .about {
  color: #0E1C36;
  font-size: 18px;
}

.openSearch .teamSize {
  color: forestgreen;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  margin-right: 70px;
  text-align: center;
}

.openSearch .profilePic {
  object-fit: contain;
  width: 50px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Add some margin to separate the user details from the profile picture */
}

.replyBox {
  margin-top: 10px; /* Add some margin to separate the reply box from the user details */
  color: #0E1C36;
}

#my-textbox {
  padding: 5px;
}
.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.tab {
  padding: 0 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
